main
    section.section_content
        .container
            ul.breadcrumb
                li.breadcrumb-item
                    a(href="#") Главная
                li.breadcrumb-item
                    a(href="#content") #{page.title}
            h1 #{page.title}
            a(data-fancybox="gallery" href="img/partners.jpg")
                img(src="img/partners.jpg")
            .content
                h2 Корпоративные подарки
                p Изысканный алкоголь — это универсальный подарок для любого повода без хлопот выбора, без очередей, без мучительных поисков. Если вы ищете статусный подарок, мы предложим подарочные форматы алкоголя в оригинальной упаковке из кожи, дерева, бутылки большого объёма. Наши консультанты порекомендуют как готовые решения для подарочного комплекта, так и уникальные наборы конкретной тематики для любого повода.

                p Для ценителей и гурманов наш сомелье подберет именно те напитки, которые будут уместны и востребованы на выбранном вами формате мероприятия. Необходимое количество напитков, рекомендации по подходящим закускам, формат подачи, особые пожелания заказчика — всё это будет учтено, исходя из тематики мероприятия и состава гостей.
                h2 Заказы в офис
                p Для офисных перерывов на кофе, для приёма гостей в офисе, для особых встреч и бизнес-тренингов мы предлагаем поставки немецких соков Granini, минеральной воды Джермук, шоколада Toblerone и Mirabell в мини-упаковке и другой бакалейной продукции.
                h2 Удобные условия сотрудничества
                ul
                    li Наличный и безналичный расчёт
                    li Подарочные сертификаты для вас, ваших сотрудников и партнёров
                    li Организация тематических дегустационных мероприятий с участием профессиональных сомелье и бармена
                    li Возможно предоставление услуг бармена для приготовления коктейлей на вашем празднике
                h2 Обратная связь
            .feedback_block.content
                .row
                    .col-12.col-sm-12.col-md-8.col-xl-8
                        p Оставьте заявку и наши менеджеры свяжуться с Вами в ближайшее время.
                    .col-12.col-sm-12.col-md-4.col-xl-4
                        button.btn_default ОБРАТНАЯ СВЯЗЬ
    section.section.section_slider
        .container
            .row
                .col-12.col-sm-12.col-md-8.col-xl-8
                    p.title Последние мероприятия
                .col-12.col-sm-12.col-md-4.col-xl-4
                    .slick_btn_group
                        button.slick_arrow.slick_prev
                        button.slick_arrow.slick_next
            .row.news_list.slick_slider
                -for(var i=0;i<=5;i++)
                    .col-12.col-sm-6.col-md-4.col-xl-3.slick_item
                        article.type_news
                            a.thumbnail_link(href="#")
                                span.thumbnail(style="background-image:url(img/news1.jpg)")
                            a.news_title(href="") Решение по реализации помарочного учета алкогольной продукции.
                            .date 22 июля 2018

    section.section.section_slider
        .container
            .row
                .col-12.col-sm-12.col-md-8.col-xl-8
                    p.title Предстоящие мероприятия
                .col-12.col-sm-12.col-md-4.col-xl-4
                    .slick_btn_group
                        button.slick_arrow.slick_prev
                        button.slick_arrow.slick_next
            .row.news_list.slick_slider
                -for(var i=0;i<=5;i++)
                    .col-12.col-sm-6.col-md-4.col-xl-3.slick_item
                        article.type_news
                            a.thumbnail_link(href="#")
                                span.thumbnail(style="background-image:url(img/news1.jpg)")
                            a.news_title(href="") Решение по реализации помарочного учета алкогольной продукции.
                            .date 22 июля 2018


    section.section.section_slider
        .container
            .row
                .col-12.col-sm-12.col-md-8.col-xl-8
                    p.title Популярные бренды
                .col-12.col-sm-12.col-md-4.col-xl-4
                    .slick_btn_group
                        button.slick_arrow.slick_prev
                        button.slick_arrow.slick_next
            .row.brands_list.slick_slider
                -for(var ii=0;ii<=8;ii++)
                    a.col-12.col-sm-6.col-md-4.col-xl-3.slick_item.brand_item(href="#")
                        img(src="img/brands/" + ii + ".png")

    section.section
        .container
            p.title Как стать корпоративным клиентом
            .row.corporate_client
                -for(var ii=1;ii<=3;ii++)
                    .col-12.col-sm-4.col-md-4.col-xl-4
                        .item
                            .position-relative
                                span.count 0#{ii}
                                if ii == 1
                                    span.icon.line
                                        img(src="img/c_icon_" + ii + ".svg")
                                else if ii == 2
                                    span.icon.line
                                        img(src="img/c_icon_" + ii + ".svg")
                                else
                                    span.icon
                                        img(src="img/c_icon_"+ii+".svg")
                            if ii==1
                                p
                                    a.download(href="" download) Скачайте анкету
                            else if ii==2
                                p Заполните анкету
                            else
                                p Отправьте анкету на почту <a href="mailto:info@idrink.by">info@idrink.by</a>














