main
    section.section_content
        .container
            ul.breadcrumb
                li.breadcrumb-item
                    a(href="#") Главная
                li.breadcrumb-item
                    a(href="#content") #{page.title}
            h1 #{page.title}
            a(data-fancybox="gallery" href="img/partners.jpg")
                img(src="img/partners.jpg")
            .content
                h2 Корпоративные подарки
                p Изысканный алкоголь — это универсальный подарок для любого повода без хлопот выбора, без очередей, без мучительных поисков. Если вы ищете статусный подарок, мы предложим подарочные форматы алкоголя в оригинальной упаковке из кожи, дерева, бутылки большого объёма. Наши консультанты порекомендуют как готовые решения для подарочного комплекта, так и уникальные наборы конкретной тематики для любого повода.

                p Для ценителей и гурманов наш сомелье подберет именно те напитки, которые будут уместны и востребованы на выбранном вами формате мероприятия. Необходимое количество напитков, рекомендации по подходящим закускам, формат подачи, особые пожелания заказчика — всё это будет учтено, исходя из тематики мероприятия и состава гостей.
                h2 Заказы в офис
                p Для офисных перерывов на кофе, для приёма гостей в офисе, для особых встреч и бизнес-тренингов мы предлагаем поставки немецких соков Granini, минеральной воды Джермук, шоколада Toblerone и Mirabell в мини-упаковке и другой бакалейной продукции.
                h2 Удобные условия сотрудничества
                ul
                    li Наличный и безналичный расчёт
                    li Подарочные сертификаты для вас, ваших сотрудников и партнёров
                    li Организация тематических дегустационных мероприятий с участием профессиональных сомелье и бармена
                    li Возможно предоставление услуг бармена для приготовления коктейлей на вашем празднике
                h2 Обратная связь
            .feedback_block.content
                .row
                    .col-12.col-sm-12.col-md-8.col-xl-8
                        p Оставьте заявку и наши менеджеры свяжуться с Вами в ближайшее время.
                    .col-12.col-sm-12.col-md-4.col-xl-4
                        button.btn_default ОБРАТНАЯ СВЯЗЬ









