<!DOCTYPE html>
html
    head
        - var page = { title: 'Личный кабинет' }
        include inc/head.pug
    body#body
        include inc/header.pug
        include inc/kabinet/content.pug
        include inc/footer.pug
        include inc/scripts.pug
