main
    section.section_content
        .container
            ul.breadcrumb
                li.breadcrumb-item
                    a(href="#") Главная
                li.breadcrumb-item
                    a(href="#") Мероприятия
                li.breadcrumb-item
                    a(href="#content") #{page.title}
            h1 11 августа в Минске пройдет главный бесплатный open-air лета A-Fest 2018. Хедлайнеры фестиваля уже объявлены
            .date.post_date 31 июля 2018
            a(data-fancybox="gallery" href="img/event.jpg")
                img(src="img/event.jpg")
            .content

                p Электро-поп дива Софи Эллис-Бекстор сыграет с главной сцены фестиваля свои самые лучшие хиты: «Murder On The Dancefloor», «Heartbreak (Make Me A Dancer)», «Get Over You» и др. Также гости фестиваля смогут в оригинале послушать популярный трек Modjo «Lady (Hear me tonight)», который вошел в топ-10 хитов в 13 странах мира. Белорусские рокеры «Без Билета» зажгут толпу своими известными и полюбившимися песнями, а также композициями из последнего студийного альбома «Маяк» - самого танцевального в дискографии коллектива.
                p Пополнился и лайн-ап белорусских исполнителей. Так, в течение фестивального дня перед зрителями выступит группа Tanin Jazz – необычный музыкальный проект, в котором сочетается электронное звучание, живые инструменты и запоминающийся вокал солистки Татьяны Горошко; могилевская регги-группа BEZ.NOT, музыкальный саунд которой наполнен позитивом и элементами необычной шоу-программы. Также гостей A-Fest 2018 ждет выступление представительницы живой электронной сцены Беларуси – one girl band Mustelide: вокалистка группы Наталья Куницкая исполняет музыку в стиле экспериментальный поп.
                blockquote 11 августа в Минске пройдет главный бесплатный open-air лета A-Fest 2018. Хедлайнеры фестиваля уже объявлены: ими стали британка Софи Эллис-Бекстор, участник французского new-disco дуэта Modjo Ян Десталь и белорусская группа «Без Билета».
                p Электро-поп дива Софи Эллис-Бекстор сыграет с главной сцены фестиваля свои самые лучшие хиты: «Murder On The Dancefloor», «Heartbreak (Make Me A Dancer)», «Get Over You» и др. Также гости фестиваля смогут в оригинале послушать популярный трек Modjo «Lady (Hear me tonight)», который вошел в топ-10 хитов в 13 странах мира. Белорусские рокеры «Без Билета» зажгут толпу своими известными и полюбившимися песнями, а также композициями из последнего студийного альбома «Маяк» - самого танцевального в дискографии коллектива.

                p Пополнился и лайн-ап белорусских исполнителей. Так, в течение фестивального дня перед зрителями выступит группа Tanin Jazz – необычный музыкальный проект, в котором сочетается электронное звучание, живые инструменты и запоминающийся вокал солистки Татьяны Горошко; могилевская регги-группа BEZ.NOT, музыкальный саунд которой наполнен позитивом и элементами необычной шоу-программы. Также гостей A-Fest 2018 ждет выступление представительницы живой электронной сцены Беларуси – one girl band Mustelide: вокалистка группы Наталья Куницкая исполняет музыку в стиле экспериментальный поп.

    section.section.section_slider
        .container
            .row
                .col-12.col-sm-12.col-md-8.col-xl-8
                    p.title Популярные бренды
                .col-12.col-sm-12.col-md-4.col-xl-4
                    .slick_btn_group
                        button.slick_arrow.slick_prev
                        button.slick_arrow.slick_next
            .row.brands_list.slick_slider
                -for(var ii=0;ii<=8;ii++)
                    a.col-12.col-sm-6.col-md-4.col-xl-3.slick_item.brand_item(href="#")
                        img(src="img/brands/" + ii + ".png")
















